* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F9FAF8;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, 
.footer {
    background-color: #1F2937;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 8px 144px;
}

.header-logo {
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    list-style: none;
    color: #E5E7E8;
    display: flex;
    gap: 24px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8px 144px;
    border: 2px solid red;
    background-color: aquamarine;
}

.placeholder-rectangle {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 16px;
  margin-bottom: 20px;
}

.footer {
    color: #E5E7E8;
    justify-content: center;
    margin-top: auto;
}