* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder-rectangle {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 16px;
  margin-bottom: 20px;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 16px;
}

.hero-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
}


