* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder-rectangle {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 16px;
  margin-bottom: 20px;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hdr-link {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-txt {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sectxt {
    font-size: 18px;
    color: #e5e7eb;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.sct2 {
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

.sct3{
    background-color: #3882f6;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
}

.btn-cta {
    border: 1px solid #f9faf8;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}