* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 16px;
}

.hero-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 24px;
    border-radius: 8px;
    border: 1px solid #3882F6;
}

.sct1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.showcase {
    display: flex;
    gap: 24px;
    color: #1F2937;
    padding: 16px;
}


.placeholder-rectangle {
  width: 125px;
  height: 125px;
  border: 2px solid #3882F6;
  border-radius: 16px;
}

.img-txt {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 150px;
}

.sct2 {
    background-color: #E5E7EB;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.ref {
    margin-left: auto;
}

.sct3 {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 24px;
}

.btn-cta {
    margin-left: auto;
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}