* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F9FAF8;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.header-logo {
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    list-style: none;
    color: #E5E7E8;
    display: flex;
    gap: 24px;
}

.placeholder-rectangle {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 16px;
  margin-bottom: 20px;
}