* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F9FAF8;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, 
.footer {
    background-color: #1F2937;
    display: flex;
    height: 48px;
    /* justify-content: space-between; */
    align-items: center;
    border: 2px solid red;
    padding: 8px 144px;
}

.header-logo {
    color: #F9FAF8;
    margin-right: auto;
}

ul {
    list-style: none;
    color: #E5E7E8;
    display: flex;
    gap: 24px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 2px solid red;
    background-color: aquamarine;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    padding: 8px 144px;
    background-color: #1F2937;
    border: 2px solid red;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 450px;
    border: 2px solid red;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub {
    color: #E5E7E8;
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border: none;
    border-radius: 8px;
}

.info-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 8px 144px;
    border: 2px solid red;
}

.info-h {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.showcase {
    display: flex;
    border: 2px solid red;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.img-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.info-txt {
    border: 2px solid red;
    text-align: center;
    flex-wrap: wrap;
    width: 150px;
}
 
.placeholder-rectangle {
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 16px;
}

.quote-sect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 144px;
    background-color: #E5E7E8;
    border: 2px solid red;
}

.quote {
    padding: 8px 198px;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    border: 2px solid red;
}

.refer {
    padding: 8px 198px;
    align-self: flex-end;
    border: 2px solid red;
}

.cta-sect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 144px;
}

.footer {
    color: #E5E7E8;
    justify-content: center;
    margin-top: auto;
}